In [1]:
import pandas as pd

In [7]:
data = {
    "ID": ["ad1a67e4cbddc767a3456b0d94299b9f"],
    "Column0": [2.0],
    "Column1": [2494],
    "Column2": [3726.1],
    "Column3": [0.678],
    "Column4": [0.702],
    "Column5": [-0.0075],
    "Column6": [0.4345],
    "Column7": [-0.0157],
    "Column8": [0.6063],
    "Column10": [0],
    "Column11": [0],
    "Column12": [0],
    "Column13": [0],
    "Column15": [0.00339],
    "Column16": [0.0],
    "Column17": [0],
    "Column18": [0.0],
    "Column19": [0],
    "Column20": [0],
    "Column21": [0]
}

# Create the modified DataFrame
df = pd.DataFrame(data)

In [8]:
df.head()

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column11,Column12,Column13,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,ad1a67e4cbddc767a3456b0d94299b9f,2.0,2494,3726.1,0.678,0.702,-0.0075,0.4345,-0.0157,0.6063,...,0,0,0,0.00339,0.0,0,0.0,0,0,0

In [9]:
df.shape

(1, 21)

In [ ]:
output = predictor(df)
output